Html,
Body {
  overscroll-behavior: none;
  font-family: "helvetica", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 64px;
  text-align: center;
  color: #000000;
  font-size: 11px;
  cursor: default;
}

.dj-panel {
  /*   margin-top: 3rem; */
  /*   padding-top: 2rem; */
  /*   border-top: 1px solid #ddd; */
  text-align: center;
}

.dj-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

/* .fx-btn {
  padding: 0.6rem 1.2rem;
  border: none;
  background: #000;
  color: #fff;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.2s;
} */

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  border: 1px solid #000;
  width: 18rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
  border: 1px solid #000;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #d80000;
  border: 1px solid #000;
  border-radius: 0rem;
  height: 0.25rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -8.8px; /* Centers thumb on the track */
  background-color: #d80000;
  border: 1px solid #000;
  border-radius: 0rem;
  /* height: 1rem;
  width: 1rem; */
  width: 10px;
  height: 14px;
  background: #b80010;
  border: 1px solid #000;
  cursor: pointer;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #d80000;
  outline-offset: 0.125rem;
  border: 1px solid #000;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #d80000;
  border: 1px solid #000;
  border-radius: 0rem;
  height: 0.3rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #e30000;
  border: 1px solid #000;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
  outline: 3px solid #e50000;
  border: 1px solid #000;
  outline-offset: 0.125rem;
}

.fx-btn.active,
.fx-btn1.active {
  background: #000000;
}

.players {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: flex-start;
}

.player {
  max-width: 480px;
  width: 100%;
  background: #fff;
  padding: 1.5rem 2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  border: 1px solid #000;
  box-shadow: 6px 6px 0 #00000046;
}

.player-left {
  transform: rotate(-10deg);
  transform-origin: center center;
  border: 1px solid #000;
  box-shadow: 6px 6px 0 #00000046;
}

.player-right {
  transform: rotate(10deg);
  transform-origin: center center;
  border: 1px solid #000;
  box-shadow: 6px 6px 0 #00000046;
}

.fx-btn {
  transform: rotate(10deg);
  transform-origin: center center;
}

.fx-btn1 {
  transform: rotate(-10deg);
  transform-origin: center center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  border: 0%;
}

.h1 img {
  position: fixed;
  width: 100%;
  height: 100%; /* fill screen */
  z-index: 9999; /* highest layer */
  pointer-events: none;
}
